body{
    margin:0;
    padding: 0;
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
}


.main{
    width: 650px;
    height: 475px;
    margin: 200px auto;
}

.main .container{
    width: 90%;
    padding: 20px 0 20px 40px;
    border-radius: 20px;
}


/*start top section*/
.main .top{
    width: 100%;
    background-color: #FFFFFF;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.main .top .container h1{
    font-size: 2rem;
    color: hsl(179, 62%, 43%);
}

.main .top .container h2{
    font-size: 1.2rem;
    color: hsl(71, 73%, 54%);
    font-weight: 400;
}

.main .top .container p{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #C0C3C6;
    
    font-weight: 400;
}

/*end top section*/


/* start bottom section*/
/* start left section*/
.main .left-bottom,
.main .right-bottom{
    width: 50% ;
    float: left;
    height: 300px;
}

.main .left-bottom{
    background-color: #2BB3B1;
    color: #FFFFFF;
}
.main .left-bottom #first-plan{
    color: #78DEE0;
}

.main .left-bottom p span{
    font-size: 2rem;
    color: #FFFFFF;
    padding-right: 5px;
    font-weight: 700;
}

 .centered-button{
     text-align: center;
}

.centered-button button{
    border: none;
    border-radius: 5px;
    font-family: 'Karla', sans-serif;
    background-color: #BFDF32;
    color: #FFFFFF;
    font-weight: 700;
    padding: 20px 90px;
    font-size: 1.1rem;
}


/*start right section*/


.main .right-bottom{
    background-color: #4ABEBD
}

.main .right-bottom h3{
    color: #FFFFFF;
}
.main .right-bottom p{
    width: 90%;
    line-height: 1.5rem;
    margin: 0;
    color: hsl(204, 43%, 93%);
}




footer{
    width: 100%;
    text-align: center
}

